@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    text-decoration: none;
    list-style: none;
}

.conteiner_gral{
    min-width: 100%;
    height: 3000px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "navbar"
        "header"
        'intro'
        'galeria_productos_conteiner'
        'otros_productos'
        'galeria_otros_conteiner'
        'servicios'
        'footer'

    ;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 600px repeat(5, 1fr) 150px;
}

/*navbar*/

.navbar{
    grid-area: navbar;
}

nav{
    background:#75c415 ;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
    display: flex;
}

.enlace p{
    margin: auto 10px;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo{
    height: 60px;
}
nav ul{
    float: right;

    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 2rem;
    padding: 7px 13px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
li a.active, li a:hover{
    background: rgba(219,72,89);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


.fa-bars{
    font-size: 15px;
}

/*header*/

.header{
    grid-area: header;
    background-image: linear-gradient(to top, rgba(255, 8, 70, 0.7) 0%, rgba(255, 177, 153, 0.7) 100%) , url(./imagenes/img-v3/jumbotron.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-size: 7rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

/*intro*/

.intro{
    grid-area: intro;
    background-color:#fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_intro{
    font-size: 4rem;
    font-weight: 500;
    color: rgba(219,72,89);
    letter-spacing: 1px;
}

.texto_intro{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: black;
    letter-spacing: 1px;
}

/*galeria de productos*/

.galeria_productos_conteiner{
    background-color: rgb(222, 222, 222);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-auto-rows: minmax(250px , auto);
    grid-auto-flow: dense;
    gap: 20px;
    padding: 20px 50px;
}

/*galeria con textos*/

.grid_item_productos1{
    width: 100%;
    grid-row: span 2;
    background-image: url(./imagenes/img-v3/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.grid_item_productos1 p{
    padding-top: 40px;
    font-size: 5rem;
    font-weight: 300;
    color: rgba(117, 196, 21);
}

.grid_item_productos2{
    width: 100%;
    grid-column: span 2;
    background-image: url(./imagenes/img-v3/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.grid_item_productos2 p{
    padding-left: 40px;
    font-size: 5rem;
    font-weight: 300;
    color: rgba(117, 196, 21);
}

.grid_item_productos3{
    width: 100%;
    background-image: url(./imagenes/img-v3/img3.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.grid_item_productos3 p{
    margin: 20px auto;
    font-size: 5rem;
    font-weight: 300;
    color: rgba(117, 196, 21);
}

.grid_item_productos4{
    width: 100%;
    background-image: url(./imagenes/img-v3/img4.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.grid_item_productos4 p{
    margin: 20px auto;
    font-size: 4rem;
    font-weight: 300;
    color: rgba(117, 196, 21);
}

.grid_item_productos5{
    width: 100%;
    grid-column: span 2;
    background-image: url(./imagenes/img-v3/img5.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.grid_item_productos5 p{
    margin-right: 40px;
    font-size: 5rem;
    font-weight: 300;
    color: rgba(117, 196, 21);
}

/*otros productos*/

.otros_productos{
    grid-area: otros_productos;
    background-color:#fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_otros{
    font-size: 4rem;
    font-weight: 500;
    color: rgba(219,72,89);
    letter-spacing: 1px;
}

.texto_otros{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: black;
    letter-spacing: 1px;
}

/*galeria de otros productos con texto*/

.galeria_otros_conteiner{
    background-color: rgb(222, 222, 222);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(350px , auto);
    grid-auto-flow: dense;
    gap: 20px;
    padding: 20px 50px;
}

.grid_item_otros1{
    background-image: url(./imagenes/img-v3/img7.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_item_otros1 p{
    font-size: 7rem;
    font-weight: 300;
    color: #75c415
}

.grid_item_otros2{
    background-image: url(./imagenes/img-v3/img8.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_item_otros2 p{
    font-size: 7rem;
    font-weight: 300;
    color: rgba(117, 196, 21);
}


.grid_item_otros3{
    background-image: url(./imagenes/img-v3/img9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_item_otros3 p{
    margin: 0 auto;
    font-size: 7rem;
    font-weight: 300;
    color: #75c415;
}

/*servicios*/
.servicios{
    grid-area: servicios;
    background-color: #75c415;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.conteiner_servicios{
    display: flex;
    text-align: center;
}

.conteiner_servicios .card{
    margin: 20px;
}

.conteiner_servicios .card .fa-truck-plane{
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.conteiner_servicios .fa-phone{
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.conteiner_servicios .fa-clock{
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}


.conteiner_servicios .card h3{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

.conteiner_servicios .card .texto_h3{
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    padding-top: 10px;
    letter-spacing: 1px;
}

/*footer*/
.footer{
    grid-area: footer;
    background-color: rgba(219,72,89);
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
}

.footer p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

@media (max-width: 992px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }

    .footer p{
        font-size: 1.5rem;
    }

    /*texto otros productos*/
    .grid_item_otros1 p{
        font-size: 7rem;
       
    }

    .grid_item_otros2 p{
        font-size: 7rem;
    }

    .grid_item_otros3 p{
        font-size: 7rem;
    }
}

@media (max-width: 768px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #75c415;
        top: 79px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 2rem;
    }
    li a:hover, li a.active{
        background: none;
        color: rgba(219,72,89) ;
    }
    #check:checked ~ ul{
        left:0;
    }

    /*otros servicios*/    
    .grid_item_otros1 p{
        font-size: 7rem;
       
    }

    .grid_item_otros2 p{
        font-size: 5rem;
    }

    .grid_item_otros3 p{
        font-size: 5rem;
    }

    /*servicios*/
    .texto-h3{
        font-size: 2rem;
    }

    /*footer*/

    .footer{
        padding: 20px 0px;
    }

    .footer p{
        font-size: 1.5rem;
    }

}

@media (max-width: 576px){
    
    /*intro*/
    .header h1{
        font-size: 4rem;
    }

    /*intro*/
    .titulo_intro{
        text-align: center;
    }

    /*galeria de productos*/
    .galeria_productos_conteiner{
        padding: 20px 10px;
    }

    .grid_item_productos1{
        grid-row: span 1;
        background-position: center;
    }

    .grid_item_productos1 p{
        text-align: center;
    }

    .grid_item_productos2{
        grid-column: span 1;
        justify-content: center;
    }

    .grid_item_productos2 p{
        text-align: center;
        padding-left: 0px;
    }

    .grid_item_productos3{
        align-items: flex-start;
    }

    .grid_item_productos3 p{
        align-items: center;
    }

    .grid_item_productos5{
        grid-column: span 1;
        justify-content: center;
    }

    .grid_item_productos5 p{
        margin-right: 0px;
    }

    /*servicios*/
    .conteiner_servicios{
        display: block;
        text-align: center;
    }

    /*otros productos*/

    .titulo_otros{
        text-align: center;
    }

    .galeria_otros_conteiner{
        padding: 20px 10px;
    }

    .grid_item_otros1 p{
        font-size: 5rem;
       
    }

    .grid_item_otros2 p{
        font-size: 5rem;
    }

    .grid_item_otros3 p{
        font-size: 5rem;
    }


}