@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    text-decoration: none;
}

.conteiner_gral{
    min-width: 100%;
    height: 3000px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "navbar   navbar"
        "header   header"
        'intro    img_intro'
        'img_intro2 productos'
        'servicios servicios'
        'contacto mapa'
        'footer footer'

    ;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 80px 600px repeat(4, 1fr) 150px;

}

/*navbar*/
.navbar{
    grid-area: navbar;
}


nav{
    background:#75c415 ;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
    display: flex;
}

.enlace p{
    margin: auto 10px;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 2rem;
    padding: 7px 13px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
li a.active, li a:hover{
    background: rgba(219,72,89);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.fa-bars{
    font-size: 15px;
}

/* fin navbar*/
/*header*/

.header{
    grid-area: header;
    background-image: linear-gradient(to top, rgba(255, 8, 70, 0.7) 0%, rgba(255, 177, 153, 0.7) 100%) ,url(./imagenes/img_v1/jumbotronimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-size: 7rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

/*imágen 1*/

.img_intro img{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

/*intro*/

.intro{
    grid-area: intro;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .conteiner_intro{
    margin: 50px;
}

.intro .conteiner_intro h2{
    font-size: 3rem;
    font-size: 500;
    letter-spacing: 1px;
    
}

.intro .conteiner_intro .texto_intro{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 1px;
}

.boton_intro{
    margin-top: 30px;
    display: block;
    width: 150px;
    height: 50px;
    background-color: #db4859;
    border-style: none;
    transition: all .3s ease-in-out;
}

.boton_intro a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.boton_intro:hover{
    background-color: #75c415;
}

/*imagen 2*/

.img_intro2{
    grid-area: img_intro2;
}

/*productos*/

.productos{
    grid-area: productos;
    background-color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
}
.productos .conteiner_productos{
    margin: 50px;
}

.productos .conteiner_productos h2{
    font-size: 3rem;
    font-size: 500;
    letter-spacing: 1px;
    
}

.productos .conteiner_productos .texto_productos{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 1px;
}

.boton_productos{
    margin-top: 30px;
    display: block;
    width: 150px;
    height: 50px;
    background-color: rgba(219,72,89);
    border-style: none;
    transition: all .3s ease-in-out;
}

.boton_productos a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.boton_productos:hover{
    background-color: #75c415;

}

/*servicios*/

.servicios{
    grid-area: servicios;
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.conteiner_servicios{
    display: flex;
    text-align: center;
}

.conteiner_servicios .card{
    margin: 20px;
}

.conteiner_servicios .card .fa-truck{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgba(219,72,89)
}

.conteiner_servicios .fa-square-check{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(219, 72, 89);
}

.conteiner_servicios .fa-envira{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(219, 72, 89);
}


.conteiner_servicios .card h3{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(219, 72, 89);
    letter-spacing: 1px;
}

.conteiner_servicios .card p{
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    padding-top: 10px;
    letter-spacing: 1px;

}

/*mapa*/

.mapa{
    grid-area: mapa;
}
.mapa iframe{
    width: 100%;
    height: 100%;
}

/*contacto*/

.contacto{
    grid-area: contacto;
    background-color: #fff;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container_intro_contacto{
    margin: 15px 0px;
}

.container_intro_contacto h2{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.container_intro_contacto p{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.contacto_detalle{
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
}
.contacto_detalle h4{
    font-size: 2rem;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
}

.contacto_detalle p{
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 10px;
    color: black;
    letter-spacing: 1px;
}

.contacto_detalle a{
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 10px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}

/*footer*/

.footer{
    grid-area: footer;
    background-color: rgba(219,72,89);
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
}

.footer p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

/*media queries*/

@media (max-width: 992px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #75c415;
        top: 79px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 2rem;
    }
    li a:hover, li a.active{
        background: none;
        color: rgba(219,72,89) ;
    }
    #check:checked ~ ul{
        left:0;
    }

    .conteiner_gral{
        display: grid;
        grid-template-areas: 
            "navbar   navbar"
            "header   header"
            'intro    img_intro'
            'img_intro2 productos'
            'servicios servicios'
            'contacto contacto'
            'mapa mapa'
            'footer footer'

        ;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 80px 500px repeat(4, 1fr) 400px;
    }

    .container_intro_contacto{
        margin: 20px;
    }

    .footer{
        padding: 20px 0px;
    }

    .footer p{
        font-size: 1.5rem;
    }

}


@media (max-width: 576px){
    .conteiner_gral{
        display: grid;
        grid-template-areas: 
            "navbar   navbar"
            "header   header"
            'intro    intro'
            'productos productos'
            'servicios servicios'
            'contacto contacto'
            'mapa mapa'
            'footer footer'
    
        ;
        grid-template-columns: 1 fr;
        grid-template-rows: 80px 500px repeat(4, 1fr) 400px;
    
    }

    .enlace p{
        font-size: 1.5rem;
    }


    .conteiner_servicios{
        display: block;
        text-align: center;
    }

    .header p{
        text-align: center;
        padding: 30px;
        font-size: 2rem;
    }

    .header h1{
        font-size: 4rem;
    }

    .container_intro_contacto{
        margin: 20px;
    }

    .intro .conteiner_intro{
        text-align: center;
    }

    .boton_intro{
        margin: 30px auto;
    }

    .productos .conteiner_productos{
        text-align: center;
    }

    .boton_productos{
        margin: 30px auto;
    }
    .intro{
        background-color: rgb(222, 222, 222);
    }

}
